/* add your CSS here */
div{
    border: 1px solid #888888;
    padding: 10px;
}

.fact{
    font-style: italic;
}

.labels{
    font-weight: bold;
    text-transform: capitalize;
}

ul{
    list-style: none;
    padding: 0px;
}